In [4]:
!pip install --no-input pandas

Requirement already satisfied: pandas in /Users/maxim/opt/anaconda3/envs/random-forest-fennel-student-code/lib/python3.9/site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/maxim/opt/anaconda3/envs/random-forest-fennel-student-code/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in /Users/maxim/opt/anaconda3/envs/random-forest-fennel-student-code/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/maxim/opt/anaconda3/envs/random-forest-fennel-student-code/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/maxim/opt/anaconda3/envs/random-forest-fennel-student-code/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("./data/large_countries_2015.csv", sep=",", index_col=0)

In [7]:
df.index.name = 'country'

In [8]:
df.reset_index(inplace=True)

In [9]:
df

          country    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

In [10]:
df["population"].mean()

375346161.6666667

In [11]:
df["fertility"].mean()

2.4374999999999996

In [12]:
df["continent"].value_counts()

Asia             7
North America    2
South America    1
Africa           1
Europe           1
Name: continent, dtype: int64

### 1.11.1 Examples

In [13]:
df['population'] = df['population'] / 1000000
df['population'] = round(df['population'], 1)

In [14]:
df

          country  population  fertility      continent
0      Bangladesh       161.0       2.12           Asia
1          Brazil       207.8       1.78  South America
2           China      1376.0       1.57           Asia
3           India      1311.1       2.43           Asia
4       Indonesia       257.6       2.28           Asia
5           Japan       126.6       1.45           Asia
6          Mexico       127.0       2.13  North America
7         Nigeria       182.2       5.89         Africa
8        Pakistan       188.9       3.04           Asia
9     Philippines       100.7       2.98           Asia
10         Russia       143.5       1.61         Europe
11  United States       321.8       1.97  North America

In [15]:
# Calculate the average population size of the large countries
average_population = df['population'].mean()

In [16]:
average_population

375.34999999999997

In [17]:
# Calculate the average population size by continent
avg_pop_per_continent = round(df.groupby('continent')['population'].mean(), 2)

In [18]:
avg_pop_per_continent

continent
Africa           182.20
Asia             503.13
Europe           143.50
North America    224.40
South America    207.80
Name: population, dtype: float64

### 1.11.2 Split

In [19]:
# 1. by column
g1 = df.groupby('continent')
g1.groups

{'Africa': [7], 'Asia': [0, 2, 3, 4, 5, 8, 9], 'Europe': [10], 'North America': [6, 11], 'South America': [1]}

In [20]:
# 2. by an array of equal length
industrialized = np.array([False, True, True, True, False, True, True, False, False, False, True, True])
g2 = df.groupby(industrialized)
g2.groups

{False: [0, 4, 7, 8, 9], True: [1, 2, 3, 5, 6, 10, 11]}

In [21]:
# 3. by a Dictionary with keys on the Index
language = {'Bangladesh':'BN', 'Brazil':'PT', 'China':'CN',
            'India':'BN', 'Indonesia':'MS', 'Japan':'JP',
            'Mexico':'ES', 'Nigeria':'NG', 'Pakistan':'UR',
            'Philippines':'PP', 'Russia':'RU', 'United States':'EN'}
g3 = df.groupby(language)
g3.groups

{}

In [22]:
# 4. by a function
g4 = df.groupby(len)
g4.groups

TypeError: object of type 'int' has no len()

In [ ]:
# 5. a list of the above
g5 = df.groupby(['continent', language, len])
g5.groups

In [ ]:
# 6. group along the x-axis
g6 = df[['population', 'fertility']].transpose().groupby(len, axis=1)
g6.groups

In [ ]:
for i, df_group in df.groupby('continent'):
    print(i, df_group, '\n')

### 1.11.3 Apply

In [23]:
g = df.groupby('continent')

In [24]:
# standard aggregation functions
g.mean()
g.max()
g.min()
g.sum()
g.count()
g.std()
g.median()
g.quantile(0.9)
g.describe()

# Aggregation with selecting columns
g['population'].describe()

/var/folders/mb/xqr44lqn1nv2_cy87gj4m2100000gn/T/ipykernel_8372/3216394773.py:9: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  g.quantile(0.9)

,count,mean,std,min,25%,50%,75%,max
continent,,,,,,,,
Africa,1.0,182.200000,NaN,182.2,182.2,182.2,182.20,182.2
Asia,7.0,503.128571,576.558860,100.7,143.8,188.9,784.35,1376.0
Europe,1.0,143.500000,NaN,143.5,143.5,143.5,143.50,143.5
North America,2.0,224.400000,137.744401,127.0,175.7,224.4,273.10,321.8
South America,1.0,207.800000,NaN,207.8,207.8,207.8,207.80,207.8

In [25]:
# Aggregation with a list of function names
g.agg(['count', 'mean', 'std'])

              population                         fertility
                   count        mean         std     count      mean       std
continent
Africa                 1  182.200000         NaN         1  5.890000       NaN
Asia                   7  503.128571  576.558860         7  2.267143  0.620154
Europe                 1  143.500000         NaN         1  1.610000       NaN
North America          2  224.400000  137.744401         2  2.050000  0.113137
South America          1  207.800000         NaN         1  1.780000       NaN

In [26]:
g.agg([('Total', 'sum')])        # includes label

,country,population,fertility
,Total,Total,Total
continent,,,
Africa,Nigeria,182.2,5.89
Asia,BangladeshChinaIndiaIndonesiaJapanPakistanPhil...,3521.9,15.87
Europe,Russia,143.5,1.61
North America,MexicoUnited States,448.8,4.10
South America,Brazil,207.8,1.78

In [27]:
# custom aggregation function with parameter
def sum_greater(dataframe, threshold):
    for column in dataframe.columns:
        return dataframe[dataframe[column]>threshold].sum()
    
g.agg(sum_greater, threshold=200)

TypeError: '>' not supported between instances of 'str' and 'int'

In [28]:
# Transformation by function name
g.transform('mean')

/var/folders/mb/xqr44lqn1nv2_cy87gj4m2100000gn/T/ipykernel_8372/1728918948.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.
  g.transform('mean')

    population  fertility
0   503.128571   2.267143
1   207.800000   1.780000
2   503.128571   2.267143
3   503.128571   2.267143
4   503.128571   2.267143
5   503.128571   2.267143
6   224.400000   2.050000
7   182.200000   5.890000
8   503.128571   2.267143
9   503.128571   2.267143
10  143.500000   1.610000
11  224.400000   2.050000

In [29]:
# Transformation by function reference
g.transform(len)

    country  population  fertility
0         7           7          7
1         1           1          1
2         7           7          7
3         7           7          7
4         7           7          7
5         7           7          7
6         2           2          2
7         1           1          1
8         7           7          7
9         7           7          7
10        1           1          1
11        2           2          2

In [30]:
# Transformation with your own function
def normalize(array):
    return array - array.mean()

g.transform(normalize)

/var/folders/mb/xqr44lqn1nv2_cy87gj4m2100000gn/T/ipykernel_8372/1498311709.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.
  g.transform(normalize)

    population  fertility
0  -342.128571  -0.147143
1     0.000000   0.000000
2   872.871429  -0.697143
3   807.971429   0.162857
4  -245.528571   0.012857
5  -376.528571  -0.817143
6   -97.400000   0.080000
7     0.000000   0.000000
8  -314.228571   0.772857
9  -402.428571   0.712857
10    0.000000   0.000000
11   97.400000  -0.080000

In [31]:
# apply any function
def first_two(df):
    return df.head(2)

g.apply(first_two)

                        country  population  fertility      continent
continent
Africa        7         Nigeria       182.2       5.89         Africa
Asia          0      Bangladesh       161.0       2.12           Asia
              2           China      1376.0       1.57           Asia
Europe        10         Russia       143.5       1.61         Europe
North America 6          Mexico       127.0       2.13  North America
              11  United States       321.8       1.97  North America
South America 1          Brazil       207.8       1.78  South America

## Recap: Solve with One-Liners

In [32]:
# Read the file ../data/penguins_simple.csv
df = pd.read_csv("./data/penguins_simple.csv", sep=";")
df

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,FEMALE
329,Gentoo,46.8,14.3,215.0,4850.0,FEMALE
330,Gentoo,50.4,15.7,222.0,5750.0,MALE
331,Gentoo,45.2,14.8,212.0,5200.0,FEMALE
332,Gentoo,49.9,16.1,213.0,5400.0,MALE

In [33]:
def clean_column_names(cols):
    return cols.str.replace('(', '').str.replace(')', '').str.replace(' ', '_').str.lower()

df.columns = clean_column_names(df.columns)

/var/folders/mb/xqr44lqn1nv2_cy87gj4m2100000gn/T/ipykernel_8372/845750964.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  return cols.str.replace('(', '').str.replace(')', '').str.replace(' ', '_').str.lower()

In [34]:
# Who is the 7th penguin?
df[6:7]

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
6,Adelie,39.2,19.6,195.0,4675.0,MALE

In [35]:
# How many Gentoos are in the dataset?
df[df["species"] == "Gentoo"].shape

(119, 6)

In [36]:
# Who is the heaviest penguin
df.sort_values("body_mass_g", ascending=False)[0:1]

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
231,Gentoo,49.2,15.2,221.0,6300.0,MALE

In [37]:
# What is the mean size of female penguins?
df[df["sex"] == "FEMALE"]["body_mass_g"].mean()

3862.2727272727275

In [38]:
# How many penguins are heavier than 3kg?
# df[df["body_mass_g" > 3000]].len(df.index)
df[df["body_mass_g"] > 3000].shape

(323, 6)

In [39]:
# Select 3 random penguins.
df.sample(3)

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
46,Adelie,35.0,17.9,190.0,3450.0,FEMALE
81,Adelie,36.9,18.6,189.0,3500.0,FEMALE
110,Adelie,38.6,17.0,188.0,2900.0,FEMALE