In [18]:
import pandas as pd

In [13]:
def mean(x):
    sum = 0
    cnt = 0
    for val in x:
        sum+= val
        cnt = cnt+1
    return sum / cnt

In [9]:
x = [2, 3, 4, 3, 5, 3, 1]

In [14]:
result = mean(x)

In [17]:
assert result == pd.Series(x).mean()

In [ ]:
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

# total relative frequencies

In [ ]:
pd.crosstab(tips['sex'], tips['day'], normalize='all', margins=True)

# row-wise relative frequencies

In [ ]:
import pandas as pd
import seaborn as sns

In [23]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [21]:
# total relative frequencies
pd.crosstab(tips['sex'], tips['day'], normalize='all', margins=True)

day         Thur       Fri       Sat       Sun       All
sex
Male    0.122951  0.040984  0.241803  0.237705  0.643443
Female  0.131148  0.036885  0.114754  0.073770  0.356557
All     0.254098  0.077869  0.356557  0.311475  1.000000

In [22]:
# row-wise relative frequencies
pd.crosstab(tips['sex'], tips['day'], normalize=1, margins=True)

day         Thur       Fri       Sat       Sun       All
sex
Male    0.483871  0.526316  0.678161  0.763158  0.643443
Female  0.516129  0.473684  0.321839  0.236842  0.356557

# Challenge

In [19]:
# column-wise relative frequencies
pd.crosstab(tips['sex'], tips['day'], normalize=0, margins=True)

day         Thur       Fri       Sat       Sun
sex
Male    0.191083  0.063694  0.375796  0.369427
Female  0.367816  0.103448  0.321839  0.206897
All     0.254098  0.077869  0.356557  0.311475

In [30]:
penguins = pd.read_csv("./data/penguins_simple.csv", delimiter=";")
penguins[penguins['Species'] == "Adelie"]

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...
141,Adelie,36.6,18.4,184.0,3475.0,FEMALE
142,Adelie,36.0,17.8,195.0,3450.0,FEMALE
143,Adelie,37.8,18.1,193.0,3750.0,MALE
144,Adelie,36.0,17.1,187.0,3700.0,FEMALE
145,Adelie,41.5,18.5,201.0,4000.0,MALE

In [29]:
penguins[penguins['Species'] == "Adelie"].describe()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
count,146.000000,146.000000,146.000000,146.000000
mean,38.823973,18.347260,190.102740,3706.164384
std,2.662597,1.219338,6.521825,458.620135
min,32.100000,15.500000,172.000000,2850.000000
25%,36.725000,17.500000,186.000000,3362.500000
50%,38.850000,18.400000,190.000000,3700.000000
75%,40.775000,19.000000,195.000000,4000.000000
max,46.000000,21.500000,210.000000,4775.000000

In [32]:
penguins[penguins['Species'] == "Adelie"].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.385813,0.332274,0.544276
Culmen Depth (mm),0.385813,1.000000,0.310897,0.580156
Flipper Length (mm),0.332274,0.310897,1.000000,0.464854
Body Mass (g),0.544276,0.580156,0.464854,1.000000

In [38]:
penguins['Species'].value_counts()

Adelie       146
Gentoo       119
Chinstrap     68
Name: Species, dtype: int64

# Solve with one-liners

In [46]:
# 1. read the file into pandas
import pandas as pd

df = pd.read_excel('./data/gapminder_lifeexpectancy.xlsx', index_col=0)
life = df[1960].dropna()
life

Life expectancy
Afghanistan              31.94
Albania                  62.87
Algeria                  47.50
Angola                   35.98
Antigua and Barbuda      62.97
                         ...
Virgin Islands (U.S.)    63.75
Yemen                    32.64
Zambia                   48.34
Zimbabwe                 53.11
South Sudan              34.61
Name: 1960.0, Length: 202, dtype: float64

In [47]:
# 2. calculate the mean life expectancy
life.mean()

54.73282178217821

In [49]:
# 3. calculate the median
life.median()

56.185

In [50]:
# 4. calculate the standard deviation
life.std()

11.689637178760744

In [52]:
# 5. calculate the variance
life.var()

136.64761737106545

In [54]:
# 6. find the highest life expectancy

In [51]:
# 7. find the lowest life expectancy
...

# 8. find the 90% quantile
...

# 9. store the number of data points in a variable
...

# 10. calculate min, max, mean and range (and possibly other descriptors) with a single line
...

Ellipsis