# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
countries = pd.read_csv("./data/large_countries_2015.csv")

## Excel

* Write the data into an Excel file
* Read the data again

In [4]:
countries.to_excel("./data/large_countries_2015.xlsx")

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [5]:
countries.to_json("./data/large_countries.json")
json = pd.read_json("./data/large_countries.json")

In [6]:
json

       Unnamed: 0  population  fertility      continent
0      Bangladesh   160995642       2.12           Asia
1          Brazil   207847528       1.78  South America
2           China  1376048943       1.57           Asia
3           India  1311050527       2.43           Asia
4       Indonesia   257563815       2.28           Asia
5           Japan   126573481       1.45           Asia
6          Mexico   127017224       2.13  North America
7         Nigeria   182201962       5.89         Africa
8        Pakistan   188924874       3.04           Asia
9     Philippines   100699395       2.98           Asia
10         Russia   143456918       1.61         Europe
11  United States   321773631       1.97  North America

## SQL

Install the library SQLAlchemy:

In [7]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.25-cp38-cp38-macosx_10_14_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 2.8 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.1-cp38-cp38-macosx_10_14_x86_64.whl (87 kB)
     |████████████████████████████████| 87 kB 7.0 MB/s  eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.1 sqlalchemy-1.4.25

Create a connection to a new SQLite database:

In [8]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [10]:
countries.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [11]:
!ls

Pandas_Intro.ipynb               gapminder_lifeexpectancy.ipynb
Selecting_Rows_and_Columns.ipynb histo-ext.png
data                             histo.png
data.csv                         mydatabase.db
data.json                        pandas_cheat_sheet.pdf
data_round_trip.ipynb

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*