## Step 1: Getting Data

In [1]:
# pip install seaborn

In [16]:
import pandas as pd
import seaborn as sns
import numpy as np

df = sns.load_dataset('penguins')
# df = pd.read_csv("../data/all_penguins_clean.csv")
df = df[df['species'] != 'Gentoo']

In [17]:
df = df.dropna()
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,Male
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,Male
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female

## Step 2: Select columns for X and y

In [18]:
# Select the Species column as target y. Transform the column to integers.
y = (df['species'] == 'Chinstrap').astype(int)
y

0      0
1      0
2      0
4      0
5      0
      ..
215    1
216    1
217    1
218    1
219    1
Name: species, Length: 214, dtype: int64

In [21]:
# Select the bill_length_mm and the bill_depth_mm as columns for X.
x = df[['bill_length_mm', 'bill_depth_mm']]
x

     bill_length_mm  bill_depth_mm
0              39.1           18.7
1              39.5           17.4
2              40.3           18.0
4              36.7           19.3
5              39.3           20.6
..              ...            ...
215            55.8           19.8
216            43.5           18.1
217            49.6           18.2
218            50.8           19.0
219            50.2           18.7

[214 rows x 2 columns]

## Step 3: The linear predictor

Define a function that takes as inputs X and a list with model parameters [w0, w1, w2] and calculates the weighted sum:

In [24]:
def linear_predictor(X, w):
   return w[0] + w[1] * X[1] + w[2] * X[2]

## Step 4: The sigmoid transformation

In [26]:
# Define a function that takes as an input an arbitrary list of numbers and converts its values to probability values:

In [30]:
def sigmoid(a):
#    return 1 / (1 + np.exp(-a))
    return np.array([1 / (1 + np.exp(-x)) for x in a])

In [62]:
# test
sigmoid([-6, 1, 5, 10])
# assert sigmoid([1, 2]) == np.array(0.73105858, 0.88079708)

array([0.00247262, 0.73105858, 0.99330715, 0.9999546 ])

## Step 5: The log loss

In [49]:
# Define a function that takes as inputs a vector of true targets and a vector of probabilities and calculates the log loss:

In [ ]:
def log_loss(y, probas):
    loss = 0
    for val in y:
        loss+=int(val) * 
#    return np.array([] for val in y)

In [66]:
# z = True
# print(int(z))

1